body {
	min-height: 100vh;
	background-color: rgb(170, 125, 250);
}

/* ======================== */
/* ======== HEADER ======== */
/* ======================== */

.header {
	background-color: purple;
	display: flex;
	justify-content: space-between;
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 1;
	height: 5vh;

	p,
	a {
		color: white;
    margin: 5px;
		padding: 5px;
	}
  
  a{
    text-decoration: none;
    border: solid 1px transparent;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
  }

  a:hover{
    border: solid 1px white;
    border-radius: 8px;
  }

	.sitename {
		font-size: 1.5em;
	}

	nav {
		align-self: center;
	}
}

/* ======================== */
/* ========= MAIN ========= */
/* ======================== */

.main {
	min-height: calc(92vh - 2rem);
	margin: 1rem;

	h1 {
		color: rgb(85, 0, 85);
		font-size: 2em;
		font-weight: bold;
		margin-left: 15px;
		margin-bottom: 1rem;
		text-align: center;
	}

}

/* ======================== */
/* ========= CARD ========= */
/* ======================== */

.cardsContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	gap: 1rem 0;

	.card {
		flex-basis: 170px;
		position: relative;
		text-align: center;

		img {
			min-width: 120px;
		}

		.cardName {
			position: absolute;
			bottom: 6%;
			left: 17%;
			right: 17%;
      padding-block: 2px;
			color: #eee;
      background-color: rgba(0, 0, 0, 0.3);
		}

		.link--addCard {
			position: absolute;
			top: 7%;
			right: 22%;
			color: red;
			font-weight: 900;
			text-decoration: none;
		}
	}
}

/* ======================== */
/* ======== SEARCH ======== */
/* ======================== */

.formContainer{
  max-width: 410px;
  margin: auto;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;

  .byElement,
  .byLevel,
  .byValue,
  .byName {
    display: flex;
    gap: 5px;
  }

	h3 {
    color: rgb(85, 0, 85);
		font-size: 1.3em;
		font-weight: bold;
	}

  .button{
    border-radius: 8px;
    padding: 3px 6px;
    background-color: rgb(85, 0, 85); 
    color: white;
  }

  input[type=number]{
    width: 25px;
  }
}

/* ======================== */
/* ======== FOOTER ======== */
/* ======================== */

.footer {
	text-align: center;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	padding-block: 0.3rem;
}
